<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>41117206873-p3dclf83kh89qdstiq4mqhqj3icut0e6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.41117206873-p3dclf83kh89qdstiq4mqhqj3icut0e6</string>
	<key>API_KEY</key>
	<string>AIzaSyB4E90GQr5XK0kJCNg7TdZTPXHNKI9jsvc</string>
	<key>GCM_SENDER_ID</key>
	<string>41117206873</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Campus-Connect-LLC</string>
	<key>PROJECT_ID</key>
	<string>campus-ca92f</string>
	<key>STORAGE_BUCKET</key>
	<string>campus-ca92f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:41117206873:ios:955445e47214a617</string>
	<key>DATABASE_URL</key>
	<string>https://campus-ca92f.firebaseio.com</string>
</dict>
</plist>